*{
	margin: 0;
	padding: 0;
}
.head{
	width: 100%;
	height: 80px;
	background-color:#333;
	min-width: 1200px;
}
.head .nav{
	width:1000px;
	margin:0 auto;
	color: #fff;
	font-family: "Microsoft YaHei";
}
.head .nav .head_h2{
	line-height: 80px;
	float: left;
}
.head .nav .nav1{
	width: 400px;
	height: 80px;
	float: left;
	padding-left: 100px;
}
.nav1 ul>li{
	float: left;
 	line-height: 80px; 
	width: 100px;
	list-style: none;
	text-align: center;
}
.nav1 a{
	text-decoration: none;
	color: #fff;
}
.nav1 ul>li:hover{
	background-color: #000;
	cursor: pointer;
}
.game span{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #555;
    position: absolute;
    top:-25px;
    left:40px;
}
.litwo{
	position: relative;
}
.game{
	display: none;
	position: absolute;
	top:80px;
	left: 0px;
	width: 100px;
	z-index: 15;
	background-color: #555;
}
.litwo:hover .game{
	display: block;
}
.nav1 .li{
	position: relative;
}
.weixin{
	position: absolute;
	top:70px;
	left: -72px;
	display: none;
	z-index: 10;
}
.weixin img{
	width: 252px;
	height: 300px;
}
.weixin span{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #fff;
    position: absolute;
    top:-20px;
    left:110px;
}
.li:hover .weixin{
	display: block;
}
.head .search{
	float: right;
	margin-top: 22px;	
}
.head .search .text{
	width: 150px;
	height: 30px;
	line-height:30px
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}
.head .search button{
	width: 60px;
	height: 30px;
	line-height:30px
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}
/*.head .search button:hover{
	background-color: #EECFA1;
}*/
.section{
	width: 1200px;
	height:490px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 5px;
}
.section img{
	width: 1200px;
	height:490px;
}
.index{
	position: absolute;
	top:520px;
	left: 510px;
	width: 240px;
}
.index ul li{
	list-style: none;
	float: left;
	width: 20px;
	height: 10px;
	margin: 10px;
	background-color: #000;
	text-align: center;
}
.index ul li:hover{
	cursor: pointer;
}
.index ul li.control{
	background-color: #ccc;
	display: inline-block;
}
/*.dig{
	width: 500px;
	height: 350px;
	background-color: #EEEEE0;
	border: 1px solid #000;
	padding: 0 15px;
	cursor: move;
	position: absolute;
	display: none;
}
.dig button{
	cursor: pointer;
	color: #f00;
	background-color: #ddd;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	font-size: 40px;
	position: absolute;
	top: 2px;
	right: 2px;
}
.dig p{
	line-height: 30px;
	text-indent: 2em;
}
.dig span{
	position: relative;
}
.zhe{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}*/

.box{
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}
.box>input{
	width: 500px;
	height: 50px;
	font-size: 18px;
}
.box>button{
	width: 140px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
}
.info{
	width: 1200px;
	height: 490px;
	margin: 0 auto;
	clear: both;
	margin-top: 10px;
}
.info .aside{
	width: 150px;
	height: 490px;
	float: left;
	background-color: #F8F8FF;
	border: 1px solid #ccc; 
}
.info .aside ul li{
	height: 60px;
	list-style: none;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	//letter-spacing: 8px;
	//font-family: "Microsoft YaHei";
}
.info .aside ul li a{
	text-decoration: none;
	color: #000;
}
.driver{
	width: 900px;
	height: 30px;
	margin: 20px auto;
}
.driver .dri1{
	width: 350px;
	float: left;
}
.driver .dri2{
	width: 150px;
	float: left;
}
.driver .dri2 h2{
	text-align: center;
	background-color: #ccc;
	padding: 5px;
}
.program{
	width: 1220px;
	height: 350px;
	margin: 5px auto;
}
.program .pro{
	width: 400px;
	height: 300px;
	float: left;
}
.program .pro1{
	margin: 0 10px;
}
.program .pro img{
	width: 250px;
	height: 250px;
}
.program .pro img:hover{
	opacity: 0.5;
	cursor: pointer;
}
.program .pro h3{
	text-align: center;
	text-indent: -140px;
}
.program .pro p{
	font-family: 'Microsoft YaHei';
	text-align: center;
	text-indent: -140px;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: #333;
	margin-top: 10px;
	clear: both;
	min-width: 1200px;
}
.footer .foo{
	width:1200px;
	margin: 0 auto;
	background-color: #333;
}
.footer .foo ul li{
	list-style: none;
	float: left;
	width: 397px;
	border-right: 1px solid #555;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	padding-top: 10px;
}
.footer .foo ul li a{
	text-decoration: none;
	color: #999;
	font-size: 14px;
}
.footer .foo ul li p{
	color: #999;
}
.footer .foo ul li a:hover{
	color: #CDC673;
}
.footer .foo ul li .git{
	font-size: 18px;
}
.footer .foo ul li img{
	width:100px;
	height: 100px;
}
.box1 img{
	width:40px;
	height: 40px;
	background-color: #000;
	position: fixed;
	right: 0px;
	bottom: 0;
}
.box1{
	display: none;
}
.info .article{
	float: right;
	width: 1030px;
	border: 1px solid #ccc;
}
.info .article .fig{
	padding:10px 20px;
}
.info .article .fig1{
	display: none;
}
.info .article .fig p{
	line-height: 30px;
}
.info .article .fig img{
	width:200px;
	height: 120px;
}
.info .article .fig img:hover{
	transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15); 
	-webkit-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
	/* transform:rotate(36deg);
	-ms-transform:rotate(36deg);
	-moz-transform:rotate(36deg); 
	-webkit-transform:rotate(36deg);
	-o-transform:rotate(36deg); */
}
.info .aside .bg{
	background-color: #D6D6D6;
	border-left: 3px solid #000;
}
.bdsug_copy{
	display: none;
}
@media screen and (max-width: 600px){
	html{
		font-size: 62.5%
	}
	.head{
	width: 100%;
	height: 8rem;
	background-color:#333;
}
.head .nav{
	width:100rem;
	margin:0 auto;
	color: #fff;
	font-family: "Microsoft YaHei";
}
}